#include "res.h"

IDI_MAIN ICON "icon.ico"

IDD_DIALOG DIALOG 0,0,80,60
CAPTION "About"
BEGIN
END

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "CodeHz"
      VALUE "FileDescription", "My Alt Key"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "myaltkey"
      VALUE "LegalCopyright", "CodeHz"
      VALUE "OriginalFilename", "myalt.exe"
      VALUE "ProductName", "My Alt Key"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END